* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#diceMaker{
  height: 200px;
  width: 200px;
  padding: 50px;
  margin: 50px auto;
  border: 2px solid #990000;
  border-radius: 10px;
  font-size:80px;
}

#diceRollPlayer1 {
  background-color: #990000;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 10px;

}

#diceRollPlayer2 {
  background-color: #990000;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 150px;
  cursor: pointer;
  /* display: none; */
}

#hold {
  background-color: #4d0f00;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 150px;
  cursor: pointer;
}
.total{
  padding:10px;
  background-color: #d9edf7;


}
